---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: grafana
  namespace: flux-system
spec:
  targetNamespace: observability
  interval: 1h
  path: ./cluster/apps/observability/grafana/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  wait: true
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings
      - kind: Secret
        name: cluster-secrets
  retryInterval: 30s
  timeout: 5m
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: grafana-instance
  namespace: flux-system
spec:
  dependsOn:
    - name: grafana
  interval: 1h
  path: ./cluster/apps/observability/grafana/instance
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  targetNamespace: observability
  wait: false
