---
encryption:
  enabled: true
  type: wireguard
autoDirectNodeRoutes: true
bandwidthManager:
  enabled: true
  bbr: false
bpf:
  masquerade: true
  tproxy: true
bgp:
  enabled: false
# cgroup:
#   automount:
#     enabled: false
#   hostRoot: /sys/fs/cgroup
cluster:
  name: homelab
  id: 0
enableRuntimeDeviceDetection: true
endpointRoutes:
  enabled: true
envoy:
  enabled: false
hubble:
  enabled: true
  relay:
    enabled: true
  ui:
    enabled: true
    ingress:
      enabled: true
      className: external
      annotations:
        external-dns.alpha.kubernetes.io/hostname: hubble.kaminek.me
        cert-manager.io/cluster-issuer: letsencrypt-production
      hosts:
        - hubble.kaminek.me
      tls:
        - hosts:
            - hubble.kaminek.me
          secretName: hubble-ui-tls
ipam:
  mode: cluster-pool
  operator:
    clusterPoolIPv4PodCIDRList: ["10.42.0.0/16"]
    clusterPoolIPv4MaskSize: 24
ipv4:
  enabled: true
ipv4NativeRoutingCIDR: 10.42.0.0/16
ipv6:
  enabled: false
k8sServiceHost: 127.0.0.1
k8sServicePort: 6443
kubeProxyReplacement: true
kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
l2announcements:
  enabled: true
  leaseDuration: 120s
  leaseRenewDeadline: 60s
  leaseRetryPeriod: 1s
loadBalancer:
  algorithm: maglev
  mode: dsr
localRedirectPolicy: true
operator:
  replicas: 1
  rollOutPods: true
rollOutCiliumPods: true
routingMode: native
securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
