---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: grafana
  annotations:
    external-dns.alpha.kubernetes.io/hostname: grafana.kaminek.me
    cert-manager.io/cluster-issuer: letsencrypt-production
spec:
  ingressClassName: external
  rules:
    - host: grafana.kaminek.me
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: grafana-service
                port:
                  number: 3000
  tls:
    - hosts:
        - grafana.kaminek.me
      secretName: grafana-tls
