---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: grafana
  annotations:
    external-dns.alpha.kubernetes.io/hostname: grafana.kaminek.me
    cert-manager.io/cluster-issuer: letsencrypt-production
    nginx.ingress.kubernetes.io/auth-url: "https://oauth.kaminek.me/oauth2/auth"
    nginx.ingress.kubernetes.io/auth-signin: "https://oauth.kaminek.me/oauth2/start?rd=$scheme://$host$request_uri"
    hajimari.io/enable: "true"
    hajimari.io/icon: chart-areaspline
    hajimari.io/group: Monitoring
spec:
  ingressClassName: external
  rules:
    - host: grafana.kaminek.me
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: grafana-service
                port:
                  number: 3000
  tls:
    - hosts:
        - grafana.kaminek.me
      secretName: grafana-tls
